<div class=" container contactContent">
    <img class="contactImg" src="img/epim-logistics-hub-original.png"/>

    <h2>By the industry, for the industry</h2>

    <p> EPIM is a membership organization governed by the operators on the NCS.
        Our main objective is to facilitate the best possible flow of information between our users.
        To meet this need we deliver innovative IT solutions, based on open standards and semantic technology.</p>

    <p>
        Today data volumes are increasing and need to be handled in an efficient and secure manner.
        EPIM meets this challenge through standardization of requirements and processes, supported by innovative and
        cost effective solutions.
    </p>

    <p>
        Through EPIM, the Oil & Gas industry is provided a toolkit that promotes substantial advantages and
        simplifications of their day-to-day business:
    </p>

    <ul>

        <li>
            Reduction of cost in many parts of the company’s value chain,
        </li>
        <li>
            Improved efficiency
        </li>
        <li>
            Secure and predictable delivery mechanisms
        </li>
        <li>
            Use of standard vocabulary (semantic technologies)
        </li>
    </ul>

    <p>
        EPIM – By the industry, for the industry
    </p>

    <h3>Contact us</h3>

    <address>
        <p>Luramyrveien 29</p>
        <p>4313 Sandnes, Norge</p>
        <p>PO Box 8016 Forus 4068 Stavanger</p>
        <p>© 2014 EPIM</p>
    </address>

    <p>General inquiries:
        <a href="mailto:mail@epim.no"> mail@epim.no</a>
    </p>

    <p>Invoices:
        <a href="mailto: faktura@epim.no"> faktura@epim.no</a>
    </p>

</div>